// Top-pic
#top-pic{
    padding: 38px 0;
    .top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            line-height: 60px;
            font-size: 35px;
            color: #9b8564;
        }
        h3 {
            font-size: 76px;
            color: #6c6c6c;
        }
    }
} 

// Slick slider --------------------------------
#slider {
    .slider-content {
        .slick-initialized .slick-slide {
            margin: 0 7px;
        }
        .image {
            width: 100%;
            height: 285px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .con {
            padding: 14px 0 14px 14px;       
            .image-title {
                font-size: 18px;
                letter-spacing: 1.2px;
                line-height: 20px;
                color: #9f5f1f;
            }
            p {
                font-size: 10px;
                line-height: 1rem;
                letter-spacing: 1.15px;
            }
        }
        .slick-slide {
            margin-right: 10px;
        }
        .slick-arrow {
            position: absolute;
            top: 36%;
            transform: translateY(-50%);
            border: none;
            width: 36px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            line-height: 1;
            z-index: 5;
            transition: all 0.2s linear;
            background-color: #484848;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 12px;
            list-style: none;
        }
        .slick-dots button {
            font-size: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #cccccc;
            transition: all 0.2s linear;
            border: none;
        }
        .slick-dots .slick-active button {
            background-color: #367cb3;
        }
    }
}
// link --------------------------------
#link {
    padding: 26px 0;
    .link-menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
        padding: 0;
        text-align: center;
        list-style: none;
        .link-item {
            border: 1px solid #9f5f1f;
            border-radius: 3px;
            padding: 8px 0;
            .link-link {
                font-size: 24px;
                color: #9f5f1f;
            }
        }
        .link-item:last-child {
            background-color: #f4ad66d5;
        }
    }
}
// product --------------------------------
#product {
    .product-title {
        display: flex;
        align-items: center;
        font-size: 20px;
        gap: 23px;
        padding: 16px 0;
    }
    .home-item {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 40px;
        padding: 40px 22px;
        row-gap: 20px;
    }
    .home-list {
        position: relative;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 20px;
        }
        .home-link {
            display: inline-block;
            width: 180px;
            height: 180px;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid #9f5f1f;
            img {
                background-color: #8e7457be;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }    
        }
    }
    .home__desc {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 55px 0 0 25px;
        color: #9f5f1f;
        .desc__title {
            line-height: 59px;
            letter-spacing: 6px;
        }
        .desc__desc {
            font-size: 20px;
            letter-spacing: 2.4px;
            span {
                color: #484848;
            }
        }
    }
}

// serch product --------------------------------
#search {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 124px;
    color: #9f5f1f;
    gap: 0 15px;
    .search-top {
        background-color: #feefdc;
        padding-top: 30px;
        padding-left: 32px;
        height: fit-content;
        width: 265px;
        .search-title {
            display: flex;
            gap: 10px;
            i {
                font-size: 25px;
            }
            h3 {
                font-size: 21px;
            }
        }
        .search-content {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            gap: 12px;
            .search-info {
                display: flex;
                flex-direction: column;
                gap: 6px;
            }
            h3 {
                font-size: 18px;
                margin-bottom: 10px;
            }
            label {
                padding-left: 10px;
                font-size: 12px;
                letter-spacing: 3.2px;
            }
            input[type=checkbox] {
                position: relative;
                cursor: pointer;
            }
            input[type=checkbox]:before {
                content: "";
                display: block;
                position: absolute;
                width: 17px;
                height: 15px;
                top: 0;
                left: 0;
                background-color: white;
            }
            input[type=checkbox]:checked:before {
                content: "";
                display: block;
                position: absolute;
                width: 17px;
                height: 15px;
                top: 0;
                left: 0;
                background-color:#1E80EF;
            }
            input[type=checkbox]:checked:after {
                content: "";
                display: block;
                width: 7px;
                height: 10px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                position: absolute;
                top: 0;
                left: 5px;
            }
            select {
                border: 1px solid #99805d;
                outline: none;
                background-color: #fcefdd;
                color: #9f5f1f;
                padding: 8px 22px;
                border-radius: 5px;
            }
            .search-btn {
                margin: 60px 15px 30px;
                background-color: white;
                border: none;
                font-size: 19.47px;
                border-radius: 3px;
                width: 170px;
                height: 45px;
            }
        }
    }
    .search-right {
        .home-title {
            display: flex;
            gap: 12px;
            font-size: 20px;
            align-items: center;
            margin-left: 4px;
            i {
                font-size: 20px;
            }
        }
        .condition-search {
            border: 1px solid #8a6f49;
            padding: 20px 40px 15px;
            margin-left: 0;
            width: 100%;
            min-height: 130px;
            p {
                font-size: 19.47px;
                color: #8a6f49;
                margin-bottom: 11px;
            }
            .item {
                display: inline-block;
                background-color: #fcefdd;
                padding: 3px 15px;
                margin-right: 9px;
                margin-bottom: 10px;
            }
        }
        .home-title {
            margin-bottom: 5px;
            p {
                font-size: 19.47px;
                span {
                    font-size: 14px;
                }
            }
        }
        .product__item {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 18px;
            row-gap: 10px;
            position: relative;
            .product__top {
                display: inline-block;
                width: 100%;
                height: 168px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .product__info {
                padding: 7px 3px;
                h3 {
                    font-size: 13px;
                    margin: 1px;
                }
                p {
                    font-size: 8px;
                    letter-spacing: 1.2px;
                    line-height: 12px;
                    color: #484848;
                }
            }
        } 
        .sub-desc {
            float: right;
            transform: translateY(-10px);
            font-size: 15px;
            text-decoration: underline;
         }
    }
    .search-map {
        border: 1px solid #9f5f1f;
        position: relative;
        height: fit-content;
        h4 {
            color: white;
            background-color: #9f5f1f;
            width: 100%;
            padding: 2px;
            text-align: center;
            border: none;
            margin: 0;
            position: absolute;
            font-size: 17px;
            bottom: 0;
        }
    }
    .social {
        margin-top: 55px;
        font-size: 22px;
        margin-bottom: 20px;
        ul {
            display: flex;
            padding-left: 5px;
            list-style: none;
            font-size: 25px;
            gap: 18px;
            margin-top: 10px;
        }
    }
    .social-video {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        .product-desc {
            margin-top: 15px;
            font-size: 12.46px;
            line-height: 18.69px;
            color: #191919;
        }
    }
}

.page-numbers {
    padding: 5px;
    margin: 0 10px;
    font-weight: 700;
    font-size: 11.68px;
} 
.condition-search {
    .remove_params {
        cursor: pointer;
    }
    .remove {
        display: none!important;
    }
}