footer {
  margin-top: 325px;
  .footer-top {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-bottom: 10px;
      padding-left: 8px;
  }
  .hideOn-PC {
      display: none;
  }
  .footer-btm {
      border-top: 2px solid #9f5f1f;
      padding: 6px 0;
      text-align: center;
  }
}