.header{
    padding: 24px 0;
    border-bottom: 2px solid #9f5f1f;
    .header-content {
        display: flex;
        justify-content: space-between;
    }
    .logo{
        margin-left: 9px;
        padding-top: 3px;
       h1 {
            display: flex;
            align-items: end;
            gap: 7px;
            font-size: 10px;
            letter-spacing: 0.6px;
            color: #6c6c6c;
       }
    }
    .hamburger {
        display: none;
        font-size: 30px;
    }
    .nav{
        display: flex;
        align-items: center;
        .list{
            display: flex;
            list-style-type: none;
            margin-bottom: 0;
            .menu-item{
                width: 137px;
                height: 55px;
                border: 1px solid #9b8564;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                  text-decoration: none;
                  font-size: 14px;
                  position: relative;
                }

                a::after{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(297deg, #76DEB1 0%, #028FDE 100%);
                    transition: all 0.5s ease-in-out;
                  }
                  
                a:hover::after{
                    width: 100%;
                }

                &:last-child{
                    background-color: #8a6f49;
                    margin-left: 25px;
                    width: 155px;
                    a {
                        line-height: 20px;
                        font-size: 19px;
                        color: white;
                        display: flex;
                        flex-direction: column;
                        span {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}


