@include media-custom-size-between(750px , 980px){
    .container-wraper {
        padding: 0 10px;
    }
    .container-sm {
        max-width: 750px;
    }
    .hideOn-mobile {
        display: none!important;
    }
    .header {
        .hamburger {
            display: block!important;
        }
        .nav {
            position: fixed;
            right: 0;
            top: 80px;
            width: 50%;
            z-index: 12;
            transform: translateX(100%);
            transition: all 0.25s;
            opacity: 0;
            .list {
                flex-direction: column;
                width: 100%;
                .menu-item, .menu-item:last-child {
                    width: 100%;
                    margin: 0;
                    background-color: #c67228;
                    color: #000000;
                }
            }
        }
        .nav.open {
            transform: translateX(0);
            opacity: 1;
        }
    }
    main {
        padding: 0 10px;
    }
    #top-pic {
        .container-sm {
           max-width: 720px;
        }
        .top-content {
            h2 {
                line-height: 60px;
                font-size: 25px;
                color: #9b8564;
            }
            h3 {
                font-size: 66px;
            }
        }
    }
    #link {
        .link-menu {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    #product {
        .home-item {
            grid-template-columns: repeat(3,1fr);
            gap: 10px;
            row-gap: 30px;
        }
        .home-list {
            padding-top: 30px;
            .home-link {
                width: 220px;
                height: 220px;
            }
        }
    }
    #search {
        .search-right {
            .product__item {
                grid-template-columns: repeat(2,1fr);
                .product__top {
                    height: 186px;
                }
            }
        }
        .social-video {
            grid-template-columns: repeat(2, 1fr);
            img {
                width: 100%;
            }
        }
    } 
}