@include x-small-max {
    .container-wraper {
        padding: 0 10px;
    }
    .hideOn-mobile {
        display: none!important;
    }
    .header {
        padding: 6px 0;
        .logo {
            margin-left: 1px;
            padding-top: 12px;
            h1 {
                a {
                    width: 24px;
                }
            }
        }
        .hamburger {
            display: block!important;
        }
        .nav {
            position: fixed;
            right: 0;
            top: 80px;
            width: 50%;
            z-index: 12;
            transform: translateX(100%);
            transition: all 0.25s;
            opacity: 0;
            .list {
                flex-direction: column;
                width: 100%;
                .menu-item, .menu-item:last-child {
                    width: 100%;
                    margin: 0;
                    background-color: #c67228;
                    color: #000000;
                }
            }
        }
        .nav.open {
            transform: translateX(0);
            opacity: 1;
        }
    }
    main {
        padding: 0 10px;
    }
    .container-sm {
        max-width: 336px;
     }
    #top-pic {
        padding: 13px 0;
        .top-content {
            h2 {
                line-height: 30px;
                font-size: 12px;
                color: #9b8564;
            }
            h3 {
                font-size: 30px;
            }
        }
    }
    #slider .slider-content .image {
        width: 100%;
        height: 200px;
    }
    #slider .slider-content .slick-slide {
        margin-right: 0;
    }
    #slider .slider-content .slick-arrow {
        top: 30%;
        width: 20px;
        height: 20px;
    }
    #slider .slider-content .con {
        padding: 14px 0 3px 14px;
    }
    #slider .slider-content .con .image-desc {
        font-size: 12px;
        line-height: 1.3rem;
        letter-spacing: 1.15px;
    }
    #slider .slider-content .slick-dots button {
        width: 12px;
        height: 12px;
    }
    #link {
        padding: 30px 0;
        .link-menu {
            grid-template-columns: repeat(2, 1fr);
            .link-item {
                padding: 0;
            }
        }
    }
    #product {
        .product-title {
            font-size: 16px;
            gap: 13px;
            padding: 0px 6px;
            i {
                font-size: 20px !important;
            }
        }
        .container-sm {
            padding: 0;
        }
        .home-item {
            grid-template-columns: repeat(2,1fr);
            gap: 25px;
            padding: 20px 0;
        }
        .home-list {
            padding-top: 30px;
            .home-link {
                width: 150px;
                height:150px;
            }
        }
        .home__desc {
            margin: 0;
            gap: 20px;
            .desc__title {
                font-size: 18px;
                line-height: 42px;
                letter-spacing: 1.6px;
            }
            .desc__desc {
                display: flex;
                flex-direction: column;
                font-size: 16px;
                gap: 4px;
                span {
                    padding-left: 5px;
                    font-size: 14px;
                }
            }
        }
    }
    #search {
        grid-template-columns: 1fr;
        grid-template-areas: "top" "bottom";
        margin-top: 50px;
        .search-right {
            grid-area: top;
            .home-title {
                margin-bottom: 6px;
            }
            .product__item {
                grid-template-columns: repeat(2,1fr);
                margin-bottom: 34px!important;
                .product__top {
                    height: 132px;
                }
                .product__info {
                    padding: 5px 0;
                }
                .product__info h3 {
                    font-size: 10px;
                    margin-bottom: 3px;
                }
                .sub-desc {
                    bottom: -35px;
                    font-size: 17px;
                }
            }
        }
        .search-top {
            margin-top: 30px;
            margin-bottom: 20px;
            width: 100%;
            padding: 40px 45px;
            padding-right: 0;
            .search-content {
                margin-top: 30px;
                gap: 20px;
                h3 {
                    margin-bottom: 18px;
                }
                .search-info {
                    gap: 6px;
                }
                label {
                    padding-left: 18px;
                    font-size: 16px;
                }
            }
            .search-content {
                .search-btn {
                    margin: 24px 36px 6px;
                    background-color: white;
                    border: none;
                    font-size: 26px;
                    border-radius: 3px;
                    width: 218px;
                    height: 59px;
                }
                select {
                   font-size: 20px;
                   padding: 5px 12px;
                   border-radius: 0px;
               }
            }
            
        }
        .search-map {
            height: 160px;
            img  {
                width: 100%;
                height: 100%;
            }
            h4 {
                padding: 4px 0;
                font-size: 20px;
            }
        }
        .social {
            margin-top: 30px;
            font-size: 20px;
            margin-bottom: 20px;
            ul {
                justify-content: center;
                padding: 0;
                font-size: 32px;
                gap: 20px;
            }
        }
        .social-video {
            grid-template-columns: repeat(2, 1fr);
            img {
                width: 100%;
            }
        }
        
    }
    footer {
        padding: 0 10px;
        margin-top: 57px;
        .footer-top {
            display: none;
        }
        .search-title {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #dfdfdf;
            color: #6d6d6d;
            gap: 10px;
            padding: 15px 0;
            i {
                font-size: 3.25em;
            }
            h3 {
                font-size: 18px;
            }
        }
        .hideOn-PC {
            display: block !important;
        }
        .contact {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        .phone, .email {
            display: flex;
            padding: 10px 20px;
            text-align: center;
            font-size: 30px;
            line-height: 20.39px;
            gap: 10px;
            align-items: center;
            justify-content: center;
            span {
                font-size: 16px;
                line-height: 1.3;
                text-align: start;
            }
        } 
        .phone {
            background-color: #8e7457;
            color: white;     
        }
        .email {
            background-color: #feefdc;
        }
        .footer-btm {
            border: none;
            background-color: #6d6d6d;
            color: white;
            font-size: 11px;
            line-height: 1em;
        }
    }
}