*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: normal;
  font-family:  "Kozuka Gothic Pro", sans-serif;
}

@font-face {
  font-family: "Kozuka Gothic Pro", sans-serif;
  src: url(./../fonts/KozGoPro-Regular.otf);
}