/**
 * Responsive Styles
 */


// Responsive breakpoints mixin

// X-Small devices (portrait phones, less than 576px)
@mixin x-small-max {
  @media only screen and (max-width: 749.98px) {
    @content;
  }
}

// Small devices (landscape phones, less than 768px)
@mixin sm-max {
  @media only screen and (max-width: 767.98px) {
    @content;
  }
}

// Medium devices (tablets, less than 992px)
@mixin md-max {
  @media only screen and (max-width: 991.98px) {
    @content;
  }
}
// Large devices (desktops, less than 1200px)
@mixin lg-max {
  @media only screen and (max-width: 1199.98px) {
    @content;
  }
}
// X-Large devices (large desktops, less than 1400px)
@mixin xl-max {
  @media only screen and (max-width: 1399.98px) {
    @content;
  }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@mixin sm-min {
  @media only screen and (min-width: 576px) {
    @content;
  }
}
// Medium devices (tablets, 768px and up)
@mixin md-min {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
// Large devices (desktops, 992px and up)
@mixin lg-min {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
// X-Large devices (large desktops, 1200px and up)
@mixin xl-min {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin xxl-min {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}
