html {
  margin-top: 0 !important;
}

a {
  text-decoration: none;
  color: $brown_color;
  //display: block;
  transition: 0.2s all ease-in-out;

  &[href] {
    cursor: pointer;
  }

  &:hover {
    opacity: 0.8;
    color: $font-color;
  }
}
ul {
  list-style: none;
}
ul, p {
    margin: 0;
    padding: 0;
}

html :where(img) {
  height: auto;
  max-width: 100%;
}

.container-wraper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.container-sm {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
}