$font-weight-default: 400;
$font-family: 'KozGoPro Regular', sans-serif;
$base-font-size: 14px;

//Color
$font-color: #231815;
$brown_color: #333;
$background-brown-color: #8e7457;
$main-color: #018EDD;
$title-color: #152B4F;

//New type breakpoint
$breakpoint-pc: 1350px;
$breakpoint-sp: 750px;

$container-padding: 75px;
$menu-mobile-height: 140px;

